@import url(reset.css);
a {
    text-decoration: none;
    color: black;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 60px;
    width: 100%;
    /* overflow-x: hidden; */
}

.chatshortcut {
    position: fixed;
    right: 36px;
    bottom: 24px;
    width: 144px;
    height: 36px;
    border-radius: 72px;
    border: 1.5px solid black;
}

.far {
    cursor: pointer;
}

/* header details */

.header_inner_container {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 59px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 2;
}

.logo_nav {
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 120px;
    height: auto;
}

header nav {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

header nav a {
    padding: 6px;
    font-size: 20px;
    transition: .5s;
}

header nav a:hover {
    transform: scale(104%);
}

.searchbox {
    width: auto;
    height: 29px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.search {
    width: 320px;
    height: 40x;
    font-size: 16px;
    padding: 0;
    border: 0;
}

.searchbox i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    justify-content: end;
    padding: 12px 0;
}

.profilebox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.profilebox nav {
    width: 100px;
}

.profilebox nav a {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.profilebox i {
    font-size: 20px;
    margin-top: 3px;
    margin-left: 5.5px;
}

/* Login details */

.loginForm {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.loginShowing {
    display: flex;
    position: absolute;
    top: 60px;
    right: 0px;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.loginForm a {
    color: purple;
    text-decoration: underline;
}

.loginLogo {
    display: flex;
    height: 50px;
    font-size: 90px;
    justify-content: center;
    margin: 20px 0;
}

.loginLogo img {
    width: 180px;
}

.loginForm h2 {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}

.loginId, .loginPw {
    width: 320px;
    height: 49px;
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #6B6B6B;
    font-size: 16px;
    letter-spacing: .3px;
}

.loginAdd {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.loginKeep {
    line-height: 0px;
}

.loginKeep input {
    width: 15px;
    height: 15px;
    margin: 0 4px 0 0;
}

.loginKeep label {
    height: 20px;
    position: relative;
    top: -2.5px;
    font-size: 14px;
}

.accountnull {
    text-align: right;
    font-size: 14px;
}

.loginBtn {
    height: 48px;
    width: 320px;
    background-color: #60f;
    border: 0;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 3px;
}

.accountforgot {
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
}

.loginOr {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 24px 0px;
}

.loginOr::before {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    width: 210px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 10px 0 0;
}

.loginOr::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    width: 210px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0 0 0 10px;
}

.loginGl {
    width: 320px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid rgb(193, 79, 68);
    background-color: white;
    color: #1b1b1b;
    font-size: 13px;
    margin: 0 0 10px 0;
}

.loginFb {
    width: 320px;
    height: 48px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #375397;
    color: #1b1b1b;
    font-size: 13px;
    margin: 0 0 10px 0;
}

.loginCompany {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.loginCompany img {
    height: 24px;
    text-align: center;
}

/* main details */

main {
    width: 100%;
}

.carouselctn {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    height: 300px;
    width: 300%;
    display: flex;
    transform: translateX(0px);
    transition: transform .5s;
    margin: 0;
    padding: 0;
}

.carouselItemctn {
    height: 300px;
    width: 100vw;
}

.carouselItem {
    height: 300px;
    width: 100%;
    flex-direction: row;
    z-index: 1;
    opacity: 1;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border: 0px;
}

.btnctn {
    /* position: absolute; */
    width: 129px;
    margin: 0 auto;
    position: relative;
    bottom: 24px;
    z-index: 1;
}

.carouselbtn {
    width: 36px;
    height: 6px;
    margin: 0 2px;
    border: 0;
    border-radius: 3px;
}

.main_inner_container {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .actortitle {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 2px 0 20px 0;
}

.mainactorlist {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.mainactor {
    width: 370px;
    min-width: 370px;
    height: 180px;
    border-radius: 12px;
    background: linear-gradient(to bottom, #EBEBEB 40%, #FFFFFF 40%);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 45px;
    transition: .5s;
}

.mainactor:hover {
    transform: scale(104%);
}

.mainactorlast {
    margin: 0;
}

.actor {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}

.actorimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actorinfo {
    height: 140px;
    padding-top: 10px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actorname {
    font-size: 24px;
    margin-top: 16px;
    /* margin-bottom: 12px; */
}

.actorname small {
    font-size: 16px;
}

.actorlink button {
    height: 32px;
    font-size: 26px;
    border: none;
    margin-right: 8px;
    padding: 0;
}

.actorinfo li::before {
    content: "-";
    display: inline-block;
    vertical-align: middle;
}

.actorinfo li {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
}

.actorlink {
    display: flex;
    justify-content: flex-end;
}

.actorlink button {
    height: 26px;
    font-size: 26px;
    border: none;
    padding: 0;
    background-color: white;
}

.actorlink i {
    text-align: center;
    line-height: 26px;
}

main hr {
    margin: 0;
}

.writebutton {
    position: relative;
    transition: .5s;
}

.write {
    transition: .5s;
}

.write:hover {
    transform: scale(105%);
}

.actorinput {
    position: absolute;
    right: 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 270px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
}

.showing {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 420px;
    height: 270px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
}

.actornameinput {
    width: 390px;
    height: 20px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
}

.textinput {
    width: 390px;
    height: 200px;
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: inherit;
}

.boardtitle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.boardtitle h1 {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 30px 0 20px 0;
}

.boardtitle button {
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: 0;
    background-color: white;
    color: #191919;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 5px;
}

main table {
    border-top: 1px solid #444444;
    font-size: 16px;
    margin-bottom: 30px;
}

main th {
    border-bottom: 1px solid #444444;
    padding: 12px 0;
    font-weight: 600;
}

main td {
    border-bottom: 1px solid #444444;
    padding: 12px 0;
}

.maintablenum {
    width: 36px;
    margin: 0 10px;
    text-align: center;
}

.maintablename {
    width: 60px;
    text-align: center;
    margin: 0 10px;
}

.maintabledate {
    width: 100px;
    text-align: center;
    margin: 0 10px;
}

/* footer details */

.footer_container {
    display: flex;
    flex-direction: row;
}

.footer_inner_container {
    width: 1200px;
    height: 280px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    height: 280px;
    background-color: #ecf0f1;
}

footer .footerlogo {
    margin: 24px 0;
    width: 120px;
    height: 32px;
}

footer hr {
    margin: 0;
}

footer table {
    border-top: 1px solid #444444;
    font-size: 14px;
}

footer .tablestrong {
    font-weight: 600;
    width: 72px;
    /* height: 20px; */
}

footer th, td {
    border-bottom: 1px solid #444444;
    padding: 10px 0;
}

footer .pagelinks a {
    cursor: default;
}

footer .contact {
    display: flex;
    margin: 10px 0 36px 0;
    justify-content: space-between;
}

footer .address {
    font-size: 14px;
    line-height: 16px;
}

footer .snslink {
    display: flex;
    align-items: center;
}

footer .snslink button {
    height: 32px;
    font-size: 26px;
    border: none;
    margin-right: 8px;
    padding: 0;
}

footer .fa-youtube {
    color: red;
}

footer .fa-instagram {
    background: linear-gradient(to bottom, rgb(252, 176, 69), rgb(253, 29, 29), rgb(131, 58, 180));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .gschool {
    height: 30px;
    border: 1px solid #001354;
}

footer .copyright {
    font-size: 12px;
    color: #7f8c8d;
    text-align: right;
}